<html>
<head>
<link rel=Stylesheet href="/css/main.css">
<link rel=Stylesheet href="/css/thickbox.css">
<script src="/js/socket.io.js"></script>
<script src="/js/json2.js"></script>
<script src="/js/util.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="/js/thickbox.js"></script>
<script src="/js/sprintf.js"></script>

<script type='text/javascript'>
$ (function() {
 });

</script>
</head>
<body>
    <a href="/images/Grits.png" class="thickbox" title="説明文（なくても大丈夫です）">aa</a>
    edit
</body>
