<html>
<head>
<link rel='stylesheet' href="/css/main.css">
<link rel='stylesheet' href="/css/ui-lightness/jquery-ui-1.8.13.custom.css">
<title>Grits</title>
<script src="/js/socket.io.js"></script>
<script src="/js/json2.js"></script>
<script src="/js/raphael.js"></script>
<script src="/js/objectConst.js"></script>
<script src="/js/objectMaker.js"></script>
<script src="/js/objectMediator.js"></script>
<script src="/js/objectCollection.js"></script>
<script src="/js/util.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/sprintf.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script type='text/javascript'>
var start_rect;
var v = {'paper'     :{'w':1000, 'h':250,'margin':{'w':30,'h':10}},
         'pathL'     :{'attr':{"stroke":"#999999",  "stroke-linecap": "round", "stroke-width":7, opacity:1.0}},
         'pathM'     :{},
         'rectStart' :{'w':100, 'h':40,
                       'attr':{"stroke":"orange", "stroke-width":1, "gradient":'100-#FFCD35-#FFD659'}},
         'circle'    :{'r':7,
                       'attr':{"stroke":"darkblue", "stroke-width":2, "fill":'red'}},
         'rectP'     :{'w':100, 'h':40,
                       'attr':{"stroke":"#FFF98B", "stroke-width":1,  "gradient":'100-#FFEF79-#FFF98B'}},
         'rectC'     :{'w':100, 'h':40,
                       'attr':{"stroke":"#CCCCCC", "stroke-width":1, "gradient":'100-#F6F6F6-#CCCCCC'}},
         'rectM'     :{'attr':{"stroke":"darkblue", "stroke-width":1, "gradient":'100-#40E0D0-#7FFFD4'}},
         'rectEnd'   :{'w':100, 'h':40,
                       'attr':{"stroke":"orange", "stroke-width":1, "gradient":'100-#FFCD35-#FFD659'}},
         'rectMOn'   :{'attr':{"stroke":"crimson" , "scale":1.5}},
         'font_m'    :{'padding_rect':{x:10,y:20},
                       'attr':{'text-anchor': 'start',"fill":"#333333",'font-size':14, 'font-family':''}},
         'icon'      :{"w":20,"h":20, "margin":20},
         'taskMargin':{w:30,child:{w:10,h:10}},
         'taskR'     :10};

$ (function() {
    var config = {'paper_id'   :'main_boad',
                  'server_host':'motoki.local',
                  'port'       :'8000',
                  'visual'     :v};
    var mediator = new ObjectMediator();
    mediator.setUp(config, getObjects());
 });
function getObjects(){

    return  {
        'title'     :'このアプリ完成まで',
        'end_title' :'Gridder公開',
        'tasks' :[{'title':'設計',
                   'description':'・デザイン\n・プロトタイプ\n',
                   'tasks':[]},
                  {'title':'大項目2',
                   'tasks':[{'title':'中項目1'},
                            {'title':'中項目2'}]}]
    };
}
</script>
</head>
<body>
    <div class='header'>
        <div class='title'><img width='109px' height='41px' src='/images/Grits.png'/></div>
    </div>
    <input type='button' id='save_button' value='save'/> 
    <div class='campus' id='main_boad'></div>
<div id='editbox' title='編集'>
    <form onSubmit='return false;' id='editform'>
        title <br/><input id='task_title' value='' type='text'><br/>
        詳細<br/><textarea id='task_description' type='text'></textarea><br/>
        終了日<br/>2011-11-11 11:10
        <input id='task_id' value='' type='hidden'><br/>
        <input id='edit_complete' value='保存' type='button'><br/>
    </form>
</div>
</body>
